ul#jogadorEscolha li a:hover,
ul#jogadorEscolha li a.selecionado,
ul#computadorEscolha li a.selecionado {
    opacity: 1;
}

ul#jogadorEscolha li a,
ul#computadorEscolha li a {
    opacity: 0.2;
    transition: ease-in-out 0.2s;
}

body {
    background-color: #9adade;
}
h1 {
    background-color: #44B8C0;
    height: 80px;
    display: flex;
    text-align: center;
}
img {
    margin: top 100px; 
}
body, html {
    height: 100%; 
    margin: 0;
    }
    
 
 